html, body {
    font-family: 'Yanone Kaffeesatz', sans-serif; 
    font-size: 25px;
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
}

h1{
    font-size: 25px; 
}

p{
    font-size: 18px;
}

#bar-holder {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    gap: 2px;
    height: 60%;
    border: 3px solid white;
}


.bar {
    background-color: white;
    width: 10px;
    height: 30px;
}

.buttons {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
    gap: 2px;
    border: 3px solid white;
    width: 100%;
}

.sortButton{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border: 1px solid white;
    font-size: 20px;
    background-color: rgb(54 54 56);
    color: white;
    height: 28px;
    border-radius: 3px;
    margin-right: 10px;
}

#myNumber{
    height: 22px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
